html, body {
  height: 100vh;
  padding: 0;
  margin: 5;
  background-color: #f2f1f6;
  color: #454955;
  font: 14px/1.5 '-apple-system', 'HelveticaNeue', Helvetica, Segoe UI;
}

* {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, b, th, strong {
  color: #454955;
}

input, button, div, pre, p {
  font: inherit;
}

button {
  color: white;
  padding: 0.5em 1em;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  background: #0071e3;
}

.button-container{
  padding-top: 1em;
  text-align: center;
}

button label {
  position: relative;
  cursor: pointer;
  min-width: 10em;
}

a, a:link, a:visited {
  color: #0071e3;
  text-decoration: none;
}

input[type=password], input[type=text] {
  width: 160px;
  padding: 0.2em 0.7em;
  position: relative;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: #ffffff;
  font-size: 14px;
}

input[type=range] {
  margin: 0;
}


h1 {
  margin: 0;
  padding-bottom: 0.5em;
  text-align: center;
}

.container {
  padding: 1em;
  margin: 1em auto;
  max-width: 440px;
  background: #fefefe;
  border-radius: 10px;
}

.form-control {
  margin: 0.4em 0;
}

.form-wrap-control {
  margin: 0.4em 0;
  display: inline-flex;
  flex-wrap: inherit;
}

.form-control input:not([type=checkbox]) {
  min-width: 10em;
}

.form label {
  min-width: 9.5em;
  display: inline-block;
}

.form {
}

.badge {
  background-color: #ff0800;
  border: 2px solid #ff0800;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #282828;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  line-height: 9px;
  height: 12px;
  padding: 4px 3px 0 5px;
  text-align: center;
  min-width: 8px;
}

/* make sure that badge text is white
   otherwise it will be blue if it is linked */
a.badge {
  color: #ffffff;
}

#badges_container {
  margin: 8px 0;
  padding-top: 0;
  /* height for single row of badges */
  min-height: 21px;
}

.helpbadge {
  background-color: #fefefe;
  border: 1px solid #999999;
  border-radius: 12px;
  color: #0071e3 !important;
  font-weight: bold;
  font: 14px;
  line-height: 10px;
  height: 13px;
  padding: 6px 6px 1px 6px;
  text-align: center;
  min-width: 8px;
  position: relative;
  margin-top: 4px;
  margin-right: -10px;
  float: right;
}

#header_container {
  padding: 0px 16px 10px 16px;
}

.title {
  color: #454955;
  font-size: 36px;
  font-weight: lighter;
  text-align: left;
  line-height: normal;
}

#logo {
  display: block;
  margin: 8px;
  float: left;
  width: 80px;
  height: 80px;
}

.spin {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -0.2em;
  border: 0.15em solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 32px;
  min-width: 0.5em !important;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #34c759;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0;
}

.comma-list li {
  display: inline;
}

.comma-list li::after {
  content: ", ";
}

.comma-list li:last-child:after {
  content: "";
}

#color_preview, #color_name, #hue_value, #saturation_value, #brightness_value {
  display: inline-block;
  min-width: 60px;
  text-align: right;
  min-height: 15px;
}

#color_preview {
  width: 140px;
}

#hap_setup_info {
  text-align: center;
}

#qrcode_container {
  width: 160px;
  height: 160px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

#hap_setup_code {
  font-weight: bold;
}

.tab_wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.tab {
  cursor: pointer;
  #margin: 0px 2px;
  padding: 10px 20px;
  display: inline-block;
  border-width: 1px;
  border-radius: 10px 10px 0 0;
  border-color: #0071e3;
  #box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0 10px 10px 10px;
  border-left: 1px solid #0071e3;
  border-right: 1px solid #0071e3;
  border-bottom: 1px solid #0071e3;
  border-top: 1px solid #0071e3;
}
.panel{
  display: none;
  animation: fadein .5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
.tab_radio {
  display: none;
}
#one:checked ~ .panels #panel1,
#two:checked ~ .panels #panel2,
#three:checked ~ .panels #panel3 {
  display: block;
}
#two:checked ~ .panels,
#three:checked ~ .panels {
  border-top-left-radius: 10px;
}
#one:checked ~ .tabs #tab1,
#two:checked ~ .tabs #tab2,
#three:checked ~ .tabs #tab3{
  border-top: 3px solid #0071e3;
  border-left: 1px solid #0071e3;
  border-right: 1px solid #0071e3;
  border-bottom: 1px solid #0071e3;
  background: #0071e3;
  color: white;
}
