name: build-shelly-homekit
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        model:
          - Shelly1
          - Shelly1L
          - Shelly1PM
          - Shelly25
          - Shelly2
          - ShellyColorBulb
          - ShellyDuo
          - ShellyI3
          - ShellyPlug
          - ShellyPlugS
          - ShellyPlus1
          - ShellyPlus1PM
          - ShellyRGBW2
          - ShellyVintage
          - ShellyU
          - ShellyU25
          - ShellyURGBW2
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install mos build tool
        run: |
          sudo add-apt-repository -y ppa:mongoose-os/mos
          sudo apt -q install -y mos-latest
      - name: Build ${{ matrix.model }}
        # run: make release RELEASE_SUFFIX=$(.github/version.py --suffix)
        run: make ${{ matrix.model }}
      # - name: Upload build artifacts
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: releases
      #     path: |
      #       releases/*
      #       !releases/**/elf
      #     if-no-files-found: error
